body{
    font-family:"Chakra Petch" ;
    background-color:#A6B0F0 ;
    color:#320547; 
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Rock 3D";
    border: 3px solid #320547 ;
    border-radius: 30px; 
    background-color: #6D4276 ;
    font-size: 30pt;
    color: #320547;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,5);
    background-image:radial-gradient(#F5E89D ,#6D4276 );
    

}

header {
    text-align: center;
}
#hero, footer{
    background-color:#869962 ;
    color: #F5E89D;
    text-align: center;
    padding: 10px;
    border: 3px solid #F5E89D;
    border-radius: 30px;
    box-shadow:  3px 3px 10px rgba(0,0,0,5) inset;
    background-image: radial-gradient(#7C7BB0, #869962 );
    
    
}
#hero img {
    width: 300px;
}
#bio {
    text-align: center;
}